{% extends 'core/model-page.html' %}

{% block content %}
<h1 class="mt-3 mb-3">Suas notas</h1>

            {% if lista_notas %}
                {% for Nota in lista_notas %}
                    <div class="card mx-auto mb-3" style="width: 32rem;">
                        <div class="card-body">
                        <p class="card-text">{{ Nota.texto|truncatewords:25 }}</p>
                        </div>
                        <a class="stretched-link" href="{% url 'core:visualizar' Nota.id %}"></a>
                    </div>
                {% endfor %}
            {% endif %}

{% endblock %}